<div class="container flex pb-6"><a type="button" class="text-1xl dark:text-white dark:first-letter:text-purple-400 text-purple-400 md:text-2xl tracking-widest" asp-action="Index">Student Management</a></div>
