@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-gray-100 flex flex-col items-center justify-center h-screen dark:bg-black overflow-hidden">
    <p class="text-6xl text-gray-900 dark:text-white p-8">Students Management</p>
 <a class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline" asp-controller="Student" asp-action="Index">
            Get Started
        </a>
    </div>
